# Hugo
public/
resources/

# OS Files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/

# Dependency directories
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Environment variables
.env

